.toolbar {

}

hr {
  border: 0.5px solid gray;
  margin-top: -1px;
}


ul {
  list-style-type: none;
  background-color: white;
}

li {
  display: inline;
  /* color: black; */
}
.navbarRight {
  float: right;
}

.navbarImages {
  display: inline;
  width: 25px;
  height: 25px;
}

.nav-link {
  font-size: 1.6vmax;
  font-weight: bold;
  text-decoration: none;
  color:black;
}

.nav-link:active {
  font-size: 2.0vmin;
}

.nav-link:hover {
  font-size: 2.0vmin;
  color: black;
}

.nav-link:visited {
  /* color:black; */
}

/* iPhone Xr & XSMax */
@media only screen
    and (device-width : 414px)
    and (device-height : 896px)
    and (-webkit-device-pixel-ratio : 2) {

    .nav-link:hover {
      font-size: 2.0vmax;
    }
}

/* iPhone Xr & XSMax */
@media only screen
    and (device-width : 414px)
    and (device-height : 896px)
    and (-webkit-device-pixel-ratio : 2) {

    .nav-link:hover {
      font-size: 2.0vmax;
    }
}

/* iPhone XS & X */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
/* STYLES GO HERE */
  .nav-link:hover {
    font-size: 2.0vmax;
  }
}

/* iPhone 6, 7, & 8 */

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
/* STYLES GO HERE */
  .nav-link:hover {
    font-size: 2.0vmax;
  }
}

/* iPhone 5 & 5S */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) { /* STYLES GO HERE */
  .nav-link:hover {
    font-size: 2.0vmax;
  }
}

@media screen and (max-width: 600px) {

  /* body {
    background: yellow;
  } */
  .nav-link {
    font-size: 1.6vmax;
    font-weight: bold;
    text-decoration: none;
    color:black;
  }

  .nav-link:hover {
    font-size: 1.8vmax;
    color: black;
  }
}


@media screen and (min-width: 600px){
  /* body {
    background: red;
  } */
  .nav-link {
    font-size: 1.6vmax;
    font-weight: bold;
    text-decoration: none;
    color:black;
  }

  .nav-link:hover {
    font-size: 1.8vmax;
    color: black;
  }
}

@media only screen and (min-width: 768px){

  /* body {
    background: grey;
  } */
  .nav-link {
    font-size: 1.6vmax;
    font-weight: bold;
    text-decoration: none;
    color:black;
  }

  .nav-link:hover {
    font-size: 1.8vmax;
    color: black;
  }
}

@media screen and (min-width: 992px){

  /* body {
    background: green;
  } */
  .nav-link {
    font-size: 1.6vmin;
    font-weight: bold;
    text-decoration: none;
    color:black;
  }

  .nav-link:hover {
    font-size: 2.0vmin;
    color: black;
  }
}

@media screen and (min-width: 1200px){

  /* body {
    background: white;
  } */
  .nav-link {
    font-size: 1.6vmin;
    font-weight: bold;
    text-decoration: none;
    color:black;
  }

  .nav-link:hover {
    font-size: 2.0vmin;
    color: black;
  }
}

@media screen and (min-width: 1400px){
  /* body {
    background :pink
  } */

  .nav-link {
    font-size: 1.6vmin;
    font-weight: bold;
    text-decoration: none;
    color:black;
  }

  .nav-link:hover {
    font-size: 2.0vmin;
    color: black;
  }
}
