.toolbar {

}

hr {
  border: 0.5px solid gray;
  margin-top: -1px;
}


ul {
  list-style-type: none;
  background-color: white;
}

li {
  display: inline;
  /* color: black; */
}
.navbarRight {
  float: right;
}

.navbarImages {
  display: inline;
  width: 25px;
  height: 25px;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color:black;
}

.nav-link:active {
  /* color:blue; */
}

.nav-link:hover {
  font-size: 20px;
  color: black;
}

.nav-link:visited {
  /* color:black; */
}

/* .id {
  position: relative;
  bottom: 25px;
} */
