.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  /* width: 30%; */
  /* flex-basis: 30%; */
  margin: 10px;
  min-width: 30%;
  max-width: 40%;
  /* flex-grow: 0.3; */
}

/* iPhone Xr & XSMax */
@media only screen
    and (device-width : 414px)
    and (device-height : 896px)
    and (-webkit-device-pixel-ratio : 2) {

    .item {
      max-width: 80%;
      width: 75%;
      min-width: 40%;
      margin: 10px;
      flex-grow: 0.3;
    }
}

/* iPhone Xr & XSMax */
@media only screen
    and (device-width : 414px)
    and (device-height : 896px)
    and (-webkit-device-pixel-ratio : 2) {

      .item {
        max-width: 80%;
        width: 75%;
        min-width: 40%;
        margin: 10px;
        flex-grow: 0.3;
      }
}

/* iPhone XS & X */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
/* STYLES GO HERE */
  .item {
    max-width: 80%;
    width: 75%;
    min-width: 40%;
    margin: 10px;
    flex-grow: 0.3;
  }
}

/* iPhone 6, 7, & 8 */

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
/* STYLES GO HERE */
  .item {
    max-width: 80%;
    width: 75%;
    min-width: 40%;
    margin: 10px;
    flex-grow: 0.3;
  }
}

/* iPhone 5 & 5S */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) { /* STYLES GO HERE */
  .item {
    max-width: 80%;
    width: 75%;
    min-width: 40%;
    margin: 10px;
    flex-grow: 0.3;
  }
}
